@font-face {
  font-family: "Dela Gothic One";
  src: url("assets/clear.ttf")
}
@font-face {
  font-family: "Montserrat";
  src: url("assets/mont.ttf")
}

html {
  scroll-behavior: smooth;
  width: calc(100vw - (100vw - 100%));
}
p {
  margin: 0 auto;
}
body {
  margin: 0 auto;
  font-family: 'Dela Gothic One', cursive;
  font-size: 1.5vw;
}
header {
  display: flex;
  height: 5vw;
  background-color: #000;
  vertical-align: middle;
}
.logo {
  margin-left: 2vw;
  width: 5vw;
  height: 5vw;

}
nav {
  display: flex;
  margin: 0 auto;
  margin-right: 10vh;
}
.logotext {
  color: #fff;
  margin: 0 auto;
  padding-right: 3vw;
  margin-top: 1.25vw;
}
a {
  text-decoration: none;
  vertical-align: middle;
}
.up {
  margin: 0 auto;
  height: 30vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(assets/eos.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.first {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  margin: 0 auto;
  color: #fff;
}
.ft {
  margin-top: 10vw;
  font-size: 3vw;
}
.har {
  padding: 5vw;
  padding-left: 0vw;
  padding-right: 0vw;
  background-color: #000;
  color: #fff;
}
.har1txt {
  margin-top: 2vw;
  margin-left: 0vw;
}
.har1img {
  margin: auto;
  width: 100%;
}
.tips {
  display: grid;
  justify-content: center;
  padding-top: 15vw;
  font-size: 2.5vw;
}
.tip1 {
  margin-top: 8vw;
}
.tip2 {
  margin-top: 20vw;
}
.tip4 {
  margin-top: 15vw;
}
.tip6 {
  margin-top: 10vw;
}
.ubo__title {
  margin: 0 auto;
  padding-top: 5vw;
  font-size: 8vw;
  text-align: center;
  color: #fff;
}
.reuse {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  margin: 0 auto;
  color: #fff;
}
.reusetxt {
  margin-top: 5vh;
  font-size: 3vw;
}
.reuseimg {
  width: 30vw;
  height: 37.8vw;
}
.pusk {
  display: grid;
  justify-content: center;
  font-size: 5vw;
  background-color: #000;
  color: #fff;
  padding-top: 5vh;
}
.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  padding-top: 5vh;
}
.tag {
  word-wrap: break-word;
  width: 20vw;
}
.vert {
  width: 0.3vw;
  background-color: #fff;
  height: 15vw;
}
footer {
  height: 15vw;
  background-color: #000;
  display: flex;
  justify-content: center;
  color: #fff;
}
.footlink {
  text-decoration: none;
  color: #c5c5c5;
  margin: 0vh;
}
.p1 {
  margin: 0;
  margin-top: 5.5vw;
  padding: 1vw;
}
.p2 {
  color: #fff;
  margin: 0;
  margin-top: 5.5vw;
  padding: 1vw;
  margin-left: 3vw;
}
.logo1 {
  margin: 0;
  margin-top: 5vw;
  margin-right: 3vw;
  width: 5vw;
  height: 5vw;
}
