html {
  scroll-behavior: smooth;
  width: 1000px;
}

body {
  margin: 0 auto;
  font-family: 'Dela Gothic One', cursive;
  font-size: 30px;
}
header {
  display: flex;
  height: 60px;
  background-color: #000;
  vertical-align: middle;
}
.logo {
  margin-left: 0px;
  margin-right: 500px;
  height: 60px;

}
nav {
  display: flex;
  margin-right: 0;
  vertical-align: middle;
}
.logotext {
  color: #fff;
  margin: 10px;
  margin-top: 25px;
}
a {
  text-decoration: none;
  vertical-align: middle;
}
.lang {
  width: 45px;
  height: 45px;
  margin: 6px;
}
.up {
  margin: 0 auto;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(assets/space2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}
.news1 {
  height: 400px;
  background-image: url(assets/untitled3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.newstext {
  margin: 0;
  padding: 60px;
  font-size: 50px;
  color: #fff;
  padding-bottom: 6px;
}
.newssubtext {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 24px;
  padding: 60px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.newsview {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  padding: 6px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 60px;
  border: solid;
  border-color: #fff;
  border-width: medium;
}
.ubo__title {
  margin: 0 auto;
  font-size: 128px;
  text-align: center;
  color: #fff;
}
.ubo__subtitle {
  margin: 0 auto;
  margin-top: 40px;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
footer {
  height: 180px;
  background-color: #000;
  display: flex;
  justify-content: center;
  color: #fff;
}
.footlink {
  text-decoration: none;
  color: #c5c5c5;
  margin: 25px;
}
.p1 {
  margin: 0;
  margin-top: 60px;
}
.p2 {
  color: #fff;
  margin: 0;
  margin-top: 60px;
}
.logo1 {
  margin: 0;
  margin-top: 60px;
  width: 100px;
  height: 60px;
}
